:root {
  --background-default: #F5F4F0;
  --border-primary: #D9D9D9;

  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-default);

  padding: 88px 80px
}

#page {
  max-width: 1120px;
  margin: 0 auto;

}

#nextTrip img {
  width: 100%;
  margin-top: 40px;
  border-radius: 28px;
  height: 660px;
}

#page span {
  color: var(--text-headline);
  font-weight: bold;
  text-transform: uppercase;
}

#nextTrip p {
  color: var(--text-secondary);
  text-align: center;
  font-style: italic;

  margin-top: 24px;
}

main img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;
}

h1 {
  color: var(--text-primary);
  size: 36px;
  font-weight: bold;

  margin-top: 8px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

.divisor {
  border: 1px solid var(--border-primary);
  margin: 40px 0 64px;
}

.items {
  list-style-position: inside;
}

.items .item:nth-child(1) {
  margin-top: 64px;
}

.items .item+.item {
  margin-top: 48px;
}

.item h3 {
  margin-top: 20px;
  margin-bottom: 8px;
  display: inline-block;
}

.items .item>li::marker {
  font-size: 28px;
  font-weight: bold;
}

.item .itemDescription {
  margin-bottom: 24px;
}

#historyLovers>p {
  color: var(--text-secondary);
  line-height: 1.4;
  margin-top: 8px;

}

.goodFor {
  font-weight: bold;
}

.goodItems {
  list-style-type: disc;
  list-style-position: inside;
}

.goodItems li {
  padding-left: 6px;
}

.goodItems li::marker {
  color: var(--text-primary);

}

.goodItems .history {
  color: var(--accent-blue);
}

.goodItems .family {
  color: var(--accent-pink);
}

.goodItems .couple {
  color: var(--accent-purple);
}

.goodItems .budget {
  color: var(--accent-orange);
}

.finalDescription {
  text-align: center;
}

footer {
  text-align: center;

  margin-top: 65px;
}