#app {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 820px;
  grid-gap: 20px;

  padding: 20px;
}

.aside-container {
  background-image: url(../assets/images/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 12px;
  padding: 32px;

  img {
    width: 45px;
    height: 48px;
  }

  .title {
    font: var(--logo);
    color: var(--pink);
  }

  p {
    font: var(--body-md-regular);
    color: var(--text-heading);
    font-weight: 300;

    margin-top: 4px;
  }
}

main {
  overflow: auto;

  padding: 80px 130px;
  background-color: var(--shape-body);
  border-radius: 12px;

  flex-direction: column;
  gap: 40px;
}